body{
  padding:5px;
  font-family:Arial;
}
header{
  background-color:#ffcc99;
  padding:10px;
}
.column-1{
  background-color:#b3d9ff;
  display:block;
  position:absolute;
  float:left;
  width:48%;
  padding-left:8px;
  padding-bottom:8px;
  margin-bottom:10px;
}
.column-2{
  background-color:#c2f0c2;
  width:48%;
  display:block;
  position:relative;
  float:right;
  height:981px;
  margin-bottom:10px;
  padding-left:8px;
}
footer{
  background-color:#c2c2d6;
  clear:right;
  padding:10px;
}
